.header__lang{
    display: flex;
    /*flex-direction: row;
    justify-content: space-between;*/
    align-self: flex-end;
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-width: 77px;
}

@media screen and (max-width:767px){
    .header__lang{
        max-width: 62px;
    }
}
