.footer__link{
    margin-right: 18px;
    color: #fff;
    text-decoration: none;
}

.footer__link:last-of-type{
    padding-right: 0;
}

.footer__link:hover{
    opacity: .8;
    transition: opacity .2s ease;
}
