.footer__links{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 465px;
    height: 18px;
    margin: 0;
    padding: 0;
}
@media screen and (min-width:320px) and (max-width:767px) {
    .footer__links{
        flex-direction: column;
        height: 248px;
    }   
}
@media screen and (max-width:319px) {
    .footer__links{
        flex-direction: column;
        height: 248px;
        justify-content: flex-start;
    }   
}