.lead__subtitle{
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 56px;
    max-width: 640px;
}
@media screen and (min-width:321px) and (max-width: 767px) {
    .lead__subtitle {
      font-size: 4.5vw;
      line-height: 1.2;
      max-width: 70%;
    }
  }

  @media screen and (max-width: 320px) {
    .lead__subtitle {
      font-size: 5vw;
      line-height: 20px;
      padding-bottom: 40px;
    }
  }
  @media screen and (min-width: 1280px) {
    .lead__subtitle {
      padding-bottom: 64px;
    }
  }