/*@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);*/

.cover{
    background-image: url(../../images/cover/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 92px;
    display: block;
    position: relative;
}

.cover::before {
    content: "";
    background-color: #2A2C2F;
    opacity: .3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
}

.cover:hover::before{
    opacity: .8;
    transition: opacity .2s ease;
}

 @media screen and (min-width:1280px){
     .cover{
         padding: 247px 312px;
         margin-left: 48px;
         margin-right: 48px;
     }
 }
@media screen and (min-width:1024px) and (max-width:1279px) {
    .cover{
       padding: 195px 232px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .cover{
        padding: 115px 104px;
        margin-bottom: 88px;
    }
}
@media screen and (min-width:325px) and (max-width:767px) {
    .cover{
        padding: 19% 16px; 
    }
}
@media screen and (max-width: 767px){
    .cover{
        margin-bottom: 64px;
    }
}
@media screen and (max-width: 324px){
    .cover{
        padding: 36px 16px;
    }
}