.intro__title{
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    padding-bottom: 40px;
    margin: 0;
}

@media screen and (max-width:320px) {
    .intro__title{
        font-size: 32px;
        line-height: 35px;
        max-width: 208px;
    }
}
/*@media screen and (min-width:1281px) {
    .intro__title{
        padding-bottom: 39px;
        max-width: 690px;
    }
}*/